/* 
    all theme colors variables (values controlled by javascript)
*/

body {
    background-color: var(--bodyBackground);
}

main {
    background-color: var(--mainBackground);
}

section.menu {
    background-color: var(--menuBackground);
}

section.menu > div.menuGrid > * {
    border-bottom-color: var(--imageShadow);
}

section.menu > div.menuGrid > label {
    color: var(--scoreLabel);
}

button.icon {
    background-color: var(--iconBackground);
}

h2 {
    color: var(--questionHeading);
}

h2#bonusValue {
    color: var(--bonus);
}

h2#bonusValue.noBonus {
    color: var(--noBonus);
}

section.image > img {
    color: var(--imageShadow);
}

section.buttons > button.correct {
    background-color: var(--buttonCorrectBackground);
    color: var(--buttonCorrectText);
}
section.buttons > button.dimmed {
    background-color: var(--buttonDimmedBackground);
    color: var(--buttonDimmedText);
}
section.buttons > button.disabled {
    background-color: var(--buttonDisabledBackground);
    color: var(--buttonDisabledText);
}
section.buttons > button.normal {
    background-color: var(--buttonNormalBackground);
    color: var(--buttonNormalText);
}
section.buttons > button.reveal {
    background-color: var(--buttonRevealBackground);
    color: var(--buttonRevealText);
}
section.buttons > button.wrong {
    background-color: var(--buttonWrongBackground);
    color: var(--buttonWrongText);
}

section.progress {
    color: var(--progress);
}

section.score {
    color: var(--scoreValue);
}

section.score > label {
    color: var(--scoreLabel);
}

.lds-ellipsis {
    color: var(--THEME_loadingSpinner);
}