/**********************/
/* heading text rules */
/**********************/
h1 {
    cursor: pointer;
    font-family: "Garamond", serif;
    width: 100cqw;
    height: 10cqh;
    font-size: 8cqw;
    background-color: #ff000022;
}
h2 {
    font-family: "Tahoma", sans-serif;
    font-size: 4rem;
    position: absolute;
    width: var(--width);
    top: 6rem;
}
h2#bonusValue {
    font-family: "Courier New", monospace;
    font-size: 4rem;
}
