/**********************/
/* heading text rules */
/**********************/
h1 {
    font-family: "Garamond", serif;
    font-size: 8rem;
    padding-top: 6rem;
    margin-bottom: 6rem;
    cursor: pointer;
}
div.h2_wrapper {
    height: 16rem;
    position: relative;
}
h2 {
    font-family: "Tahoma", sans-serif;
    font-size: 4rem;
    position: absolute;
    width: var(--width);
    top: 6rem;
}
h2#bonusValue {
    font-family: "Courier New", monospace;
    font-size: 4rem;
}
