/*********************************************/
/* main element is used as the app container */
/*********************************************/
main {
    background-color: var(--mainBackground);
    width: var(--width);
    height: var(--height);
    margin-left: var(--main_center);
}

/************************/
/* icon buttons         */
/************************/
button.icon {
    background-color: var(--iconBackground);
    border-radius: 50%;
    height: calc(var(--iconSize) * 1px);
    width:  calc(var(--iconSize) * 1px);
    padding: calc(var(--iconSize) * 0.2px);
    cursor: pointer;
    text-align: center;
}
section.menuButton {
    position: absolute;
    width: var(--width);
    text-align: right;
    padding: calc(var(--iconSize) * 0.5px);
    top: 0;
}

/**********************/
/* heading text rules */
/**********************/
h1 {
    color: var(--titleHeading);
    font-family: "Garamond", serif;
    font-size: 16rem;
    font-weight: normal;
    padding-top: calc(var(--height) * 0.045);
    margin-bottom: calc(var(--height) * 0.035);
}
h2 {
    color: var(--questionHeading);
    font-family: "Tahoma", sans-serif;
    font-size: 8rem;
    font-weight: normal;
    margin-top: calc(var(--height) * 0.06);
}
h2#bonusValue {
    color: var(--bonus);
    font-family: "Courier New", monospace;
    font-size: 9rem;
    font-weight: bold;
    position: relative;
    margin-top: calc(var(--height) * -0.05);
    top: calc(var(--height) * 0.025);
}
h2#bonusValue.noBonus {
    color: var(--noBonus);
}

/************************/
/* "play again" prompt  */
/************************/
.prompt {
    color: var(--actionLink);
    cursor: pointer;
}

/********************************************************************/
/* The loading spinner and the question image occupy the same space */
/********************************************************************/
:root {
    --imageHeight: calc(var(--height) * 0.18);
}
section.loading,
section.image {
    background-color: #00990000;
    height: var(--imageHeight);
    margin: auto;
}
section.image {
    margin-top: calc(-1 * var(--imageHeight));
}
section.image > img {
    box-shadow: 0 0 16rem 3rem var(--imageShadow);
    margin: auto;
    height: 100%;
}

/************************/
/* "guess" button rules */
/************************/
section.buttons {
    margin-top: calc(var(--height) * 0.04);
}
section.buttons > button {
    font-family: "Tahoma", sans-serif;
    font-size: 7rem;
    font-weight: normal;
    width: 120rem;
    height: calc(var(--height) * 0.07);
    margin: calc(var(--height) * 0.03) auto 0 auto;
    opacity: 0;
}
section.buttons > button.correct {
    background-color: var(--buttonCorrectBackground);
    color: var(--buttonCorrectText);
}
section.buttons > button.dimmed {
    background-color: var(--buttonDimmedBackground);
    color: var(--buttonDimmedText);
}
section.buttons > button.disabled {
    background-color: var(--buttonDisabledBackground);
    color: var(--buttonDisabledText);
}
section.buttons > button.normal {
    background-color: var(--buttonNormalBackground);
    color: var(--buttonNormalText);
}
section.buttons > button.reveal {
    background-color: var(--buttonRevealBackground);
    color: var(--buttonRevealText);
}
section.buttons > button.wrong {
    background-color: var(--buttonWrongBackground);
    color: var(--buttonWrongText);
}

/***************************/
/* progress & score        */
/***************************/
section.progress,
section.score {
    font-family: "Courier New", monospace;
    text-transform: uppercase;
    width: 140rem;
    margin: auto;
}

section.progress {
    color: var(--progress);
    font-size: 5rem;
    padding-top: calc(var(--height) * 0.08);
}

section.score {
    color: var(--scoreValue);
    display: grid;
    grid-template-columns: repeat(3, auto);
    font-size: 8rem;
    margin-top: calc(var(--height) * -0.04);
    font-weight: bold;
}

section.score > label {
    color: var(--scoreLabel);
    display: block;
    font-weight: normal;
    font-size: 8rem;
    padding-bottom: 6rex;
    text-decoration: underline;
    text-underline-offset: 6rex;
}

/*****************************/
/* animation                 */
/*****************************/
.hidden {
    opacity: 0;
}
