
/************************/
/* icon buttons         */
/************************/
:root {
    --menuButtonPadding: calc(2 * var(--rWu));
    --menuIconSize: calc(6 * var(--rWu));
    --menuIconSvgSize: calc(4 * var(--rWu));
    --menuTextSize: calc(3.5 * var(--rWu));
    --menuContainerWidth: calc(60 * var(--rWu));
    --menuContainerHeight: calc(20 * var(--rHu));
}

section.menu {
    border-radius: var(--menuButtonPadding);
    position: fixed;
    width: var(--menuContainerWidth);
    height: var(--menuContainerHeight);
    display: block;
    top: 44px;
    left: 44px;
}

section.menu > div.menuGrid {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

section.menu > div.menuGrid > * {
    cursor: pointer;
    display: block;
    
    padding-bottom: var(--menuButtonPadding);
    margin-top: var(--menuButtonPadding);

    border-bottom-style: solid;
    border-bottom-width: 1px;
}
section.menu > div.menuGrid > label {
    font-family: "Courier New", monospace;
    font-size: var(--menuTextSize);
    text-align: left;
    padding-top: var(--menuButtonPadding);
    padding-left: var(--menuButtonPadding);
}

section.menu > div.menuGrid > div {
    text-align: right;
    padding-right: var(--menuButtonPadding);
}
button.icon {
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    width: var(--menuIconSize);
    height: var(--menuIconSize);
}
button.icon > svg {
    width: var(--menuIconSvgSize);
    height: var(--menuIconSvgSize);
}
section.menuButton {
    position: absolute;
    width: var(--width);
    padding-top: var(--menuButtonPadding);
    padding-right: var(--menuButtonPadding);
    text-align: right;
    top: 0;
}