:root {
    --lds-scale: 0.42;
}
.lds-ellipsis {
    color: var(--loadingSpinner);
}
.lds-ellipsis,
.lds-ellipsis div {
    box-sizing: border-box;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: calc(var(--lds-scale) * 80rem);
    height: calc(var(--lds-scale) * 80rem);
}
.lds-ellipsis div {
    position: absolute;
    top: calc(var(--lds-scale) * 33.33333rem);
    width: calc(var(--lds-scale) * 13.33333rem);
    height: calc(var(--lds-scale) * 13.33333rem);
    border-radius: 50%;
    background: currentColor;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: calc(var(--lds-scale) * 8rem);
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: calc(var(--lds-scale) * 8rem);
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: calc(var(--lds-scale) * 32rem);
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: calc(var(--lds-scale) * 56rem);
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(calc(var(--lds-scale) * 24rem), 0);
    }
}
