/************************/
/* "guess" button rules */
/************************/
section.buttons {
    text-align: center;
    will-change: transform;
}
section.buttons > button {
    border-radius: 1rem;
    cursor: pointer;
    display: block;
    font-family: "Tahoma", sans-serif;
    font-size: 4rem;
    width: 70rem;
    height: 16rem;
    margin: 0 auto 6rem auto;
    opacity: 0;
}