/************************/
/* "guess" button rules */
/************************/
section.buttons {
    margin-top: calc(3 * var(--rHu));
}
section.buttons > button {
    border-radius: calc(2 * var(--rWu));
    display: inline-block;
    font-family: "Tahoma", sans-serif;
    font-size: calc(4 * var(--rWu));
    width: calc(63 * var(--rWu));
    height: calc(7.87 * var(--rHu));
    margin-top: calc(3   * var(--rHu));
    opacity: 0;
}