/***************************/
/* progress & score        */
/***************************/
section.progress,
section.score {
    font-family: "Courier New", monospace;
    text-transform: uppercase;
    width: 75rem;
    margin: auto;
}

section.progress {
    font-size: 3rem;
    /* padding-left: 3rem; */
    padding-top: 4rem;
}

section.score {
    display: grid;
    grid-template-columns: repeat(3, auto);
    font-size: 6rem;
    margin-top: -8rem;
    font-weight: bold;
}

section.score > label {
    display: block;
    font-size: 4rem;
    text-decoration: underline;
    padding-bottom: 1rem;
    text-underline-offset: 1rem;
}
