

/********************************************************************/
/* The loading spinner and the question image occupy the same space */
/********************************************************************/
:root {
    --imageHeight: calc(var(--height) * 0.18);
}
section.loading,
section.image {
    height: var(--imageHeight);
    margin: auto;
}
section.image {
    margin-top: calc(-1 * var(--imageHeight));
}
section.image > img {
    box-shadow: 0 0 16rem 3rem;
    margin: auto;
    height: 100%;
}

/************************/
/* "guess" button rules */
/************************/
section.buttons {
    margin-top: calc(var(--height) * 0.04);
}
section.buttons > button {
    font-family: "Tahoma", sans-serif;
    font-size: 7rem;
    font-weight: normal;
    width: 120rem;
    height: calc(var(--height) * 0.07);
    margin: calc(var(--height) * 0.03) auto 0 auto;
    opacity: 0;
}

/***************************/
/* progress & score        */
/***************************/
section.progress,
section.score {
    font-family: "Courier New", monospace;
    text-transform: uppercase;
    width: 140rem;
    margin: auto;
}

section.progress {
    font-size: 5rem;
    padding-top: calc(var(--height) * 0.08);
}

section.score {
    display: grid;
    grid-template-columns: repeat(3, auto);
    font-size: 8rem;
    margin-top: calc(var(--height) * -0.04);
    font-weight: bold;
}

section.score > label {
    display: block;
    font-weight: normal;
    font-size: 8rem;
    padding-bottom: 6rex;
    text-decoration: underline;
    text-underline-offset: 6rex;
}

/*****************************/
/* animation                 */
/*****************************/
.hidden {
    opacity: 0;
}
