/* 
    Defines the app container's width and height.
    Width/Height aspect ratio of 9:16 (0.5625) and 16:9 (1.77777777).
    The min() function is used to force the 9:16 portrait orientation.
*/
:root {
    --width: min(100svw, calc(0.5625 * 100svh));
    --height: min(100svh, calc(1.77777777 * 100svw));
}

/* 
    The app container is centered horizontally on the device screen.
    The main container is centered horizontally within the app container.
*/
:root {
    --device_center: calc(100vw / 2);
    --app_center: calc(var(--width) / 2);
    --main_center: calc(var(--device_center) - var(--app_center));
}

/* 
    The html font-size is used in conjunction with rem units to scale 
    elements relative to the app container's width.

    The "rem" units are used for font sizing, but they also may be used for any
    css property that needs to be scaled relative to the app container's width.
*/
html {
    font-size: calc(var(--width) / 200);
}
body {
    background-color: var(--body-background);
    overflow: hidden;
    text-align: center;
}


