/*********************************************/
/* main element is used as the app container */
/*********************************************/
main {
    background-color: var(--background-color);
    width: var(--width);
    height: var(--height);
    margin-left: var(--main_center);
}

/**********************/
/* heading text rules */
/**********************/
h1 {
    color: var(--h1-color);
    font-family: "Garamond", serif;
    font-size: 18rem;
    font-weight: normal;
    margin-top: calc(var(--height) * 0.045);
    margin-bottom: calc(var(--height) * 0.035);
}
h2 {
    color: var(--h2-color);
    font-family: "Tahoma", sans-serif;
    font-size: 9rem;
    font-weight: normal;
    margin-top: calc(var(--height) * 0.05);
}
h2#bonusValue {
    color: var(--bonus-color);
    font-weight: normal;
    margin-top: calc(var(--height) * -0.05);
    font-size: 11rem;
    position: relative;
    top: calc(var(--height) * -0.025);
}
h2#bonusValue.noBonus {
    color: var(--no-bonus-color);
}

/************************/
/* app version display  */
/************************/
/* h6 {
    color: var(--h6-color);
    font-family: "Courier New", monospace;
    font-size: 5rem;
    font-weight: normal;
} */

/************************/
/* "play again" prompt  */
/************************/
.prompt {
    color: var(--prompt-color);
    cursor: pointer;
}

/********************************************************************/
/* The loading spinner and the question image occupy the same space */
/********************************************************************/
:root {
    --imageHeight: calc(var(--height) * 0.21);
}
section.loading,
section.image {
    background-color: #00990000;
    height: var(--imageHeight);
    margin: auto;
}
section.image {
    margin-top: calc(-1 * var(--imageHeight));
}
section.image > img {
    box-shadow: 0 0 16rem 3rem var(--image-shadow);
    margin: auto;
    height: 100%;
}

/************************/
/* "guess" button rules */
/************************/
section.buttons {
    margin-top: calc(var(--height) * 0.025);
    background-color: var(--background-color);
}
button {
    all: unset;
    appearance: none;
    font-family: "Tahoma", sans-serif;
    font-size: 7.84rem;
    font-weight: normal;
    width: 130rem;
    height: calc(var(--height) * 0.07);
    margin: calc(var(--height) * 0.03) auto 0 auto;
    opacity: 0;
}
button.correct {
    background-color: var(--button-correct-background);
    color: var(--button-correct-text);
}
button.dimmed {
    background-color: var(--button-dimmed-background);
    color: var(--button-dimmed-text);
}
button.disabled {
    background-color: var(--button-disabled-background);
    color: var(--button-disabled-text);
}
button.normal {
    background-color: var(--button-normal-background);
    color: var(--button-normal-text);
}
button.reveal {
    background-color: var(--button-reveal-background);
    color: var(--button-reveal-text);
}
button.wrong {
    background-color: var(--button-wrong-background);
    color: var(--button-wrong-text);
}

/***************************/
/* score                   */
/***************************/
section.score {
    display: grid;
    font-family: "Tahoma", sans-serif;
    grid-template-columns: repeat(3, auto);
    grid-template-columns: repeat(2, auto);
    color: var(--score-color);
    text-transform: uppercase;
    font-size: 7rem;
    width: 124rem;
    margin: auto;
    margin-top: calc(var(--height) * 0.04);
    margin-bottom: calc(var(--height) * 0.01);
}
section.score div.row {
    display: contents;
    color: var(--score-row-color);
    font-size: 8rem;
}
section.score div.row > div {
    padding-top: 2rem;
}

/****************************/
/* progress                 */
/****************************/
section.progress {
    color: var(--progress-color);
    font-family: "Courier New", monospace;
    font-size: 5.5rem;
    position: relative;
    top: -12rem;
}
section.progress span {
    margin: 0 0.5rem;
}

/*****************************/
/* animation                 */
/*****************************/
.hidden {
    opacity: 0;
}


