/*********************************************/
/* main element is used as the app container */
/*********************************************/
main {
    background-color: var(--main-background);
    width: var(--width);
    height: var(--height);
    margin-left: var(--main_center);
}

/**********************/
/* heading text rules */
/**********************/
h1 {
    color: var(--h1-color);
    font-family: "Garamond", serif;
    font-size: 16rem;
    font-weight: normal;
    padding-top: calc(var(--height) * 0.045);
    margin-bottom: calc(var(--height) * 0.035);
}
h2 {
    color: var(--h2-color);
    font-family: "Tahoma", sans-serif;
    font-size: 8rem;
    font-weight: normal;
    margin-top: calc(var(--height) * 0.06);
}
h2#bonusValue {
    color: var(--bonus-color);
    font-family: "Courier New", monospace;
    font-size: 9rem;
    font-weight: bold;
    position: relative;
    margin-top: calc(var(--height) * -0.05);
    top: calc(var(--height) * 0.025);
}
h2#bonusValue.noBonus {
    color: var(--no-bonus-color);
}

/************************/
/* app version display  */
/************************/
/* h6 {
    color: var(--h6-color);
    font-family: "Courier New", monospace;
    font-size: 5rem;
    font-weight: normal;
} */

/************************/
/* "play again" prompt  */
/************************/
.prompt {
    color: var(--prompt-color);
    cursor: pointer;
}

/********************************************************************/
/* The loading spinner and the question image occupy the same space */
/********************************************************************/
:root {
    --imageHeight: calc(var(--height) * 0.18);
} 
section.loading,
section.image {
    background-color: #00990000;
    height: var(--imageHeight);
    margin: auto;
}
section.image {
    margin-top: calc(-1 * var(--imageHeight));
}
section.image > img {
    box-shadow: 0 0 16rem 3rem var(--image-shadow);
    margin: auto;
    height: 100%;
}

/************************/
/* "guess" button rules */
/************************/
section.buttons {
    margin-top: calc(var(--height) * 0.02);
}
section.buttons > button {
    all: unset;
    appearance: none;
    border-style: none;
    position: sticky;
    font-family: "Tahoma", sans-serif;
    font-size: 7rem;
    font-weight: normal;
    width: 120rem;
    height: calc(var(--height) * 0.07);
    margin: calc(var(--height) * 0.04) auto 0 auto;
    opacity: 0;
}
section.buttons > button.correct {
    background-color: var(--button-correct-background);
    color: var(--button-correct-text);
}
section.buttons > button.dimmed {
    background-color: var(--button-dimmed-background);
    color: var(--button-dimmed-text);
}
section.buttons > button.disabled {
    background-color: var(--button-disabled-background);
    color: var(--button-disabled-text);
}
section.buttons > button.normal {
    background-color: var(--button-normal-background);
    color: var(--button-normal-text);
}
section.buttons > button.reveal {
    background-color: var(--button-reveal-background);
    color: var(--button-reveal-text);
}
section.buttons > button.wrong {
    background-color: var(--button-wrong-background);
    color: var(--button-wrong-text);
}

/***************************/
/* progress & score        */
/***************************/
section.progress,
section.score {
    font-family: "Courier New", monospace;
    text-transform: uppercase;
    width: 140rem;
    margin: auto;
}

section.progress {
    color: var(--progress-color);
    font-size: 5rem;
    padding-top: calc(var(--height) * 0.08);
}

section.score {
    color: var(--score-color);
    display: grid;
    grid-template-columns: repeat(3, auto);
    font-size: 8rem;
    margin-top: calc(var(--height) * -0.04);
    font-weight: bold;
}

section.score > label {
    color: var(--score-label-color);
    display: block;
    font-weight: normal;
    font-size: 8rem;
    padding-bottom: 6rex;
    text-decoration: underline;
    text-underline-offset: 6rex;
}

/*****************************/
/* animation                 */
/*****************************/
.hidden {
    opacity: 0;
}
