/* one section per component, 100cqw, specified heights... */
/* sections are transparent, their inner divs are opaque */
section {
    align-content: center;
    text-align: center;
    opacity: 0.00;
    overflow: hidden;
    width: 100cqw;
    height: 10cqh;
    font-size: 10cqw;
}
div {
    opacity: 1;
}

:root {
    /* section heights */
    --SECTION_TitleHeading: 15cqh;
    --SECTION_LoadingSpinner: 20cqh;
    
    /* section font sizes */
    --TEXT_TitleHeading: 10cqw;
}