section#loading {
    height: var(--SECTION_LoadingSpinner);
}

section#loading > svg {
    height: calc(1 * var(--SECTION_LoadingSpinner));
    fill: var(--THEME_LoadingSpinner_fill);
    
    /* background-color: aqua; */
}
