section#image {
    height: var(--SECTION_LoadingSpinner);
    margin-top: calc(-1 * var(--SECTION_LoadingSpinner));
}
section#image > img {
    display: block;
    margin: 0 auto;
    height: var(--SECTION_LoadingSpinner);
}
/* section.image > img {
    box-shadow: 0 0 16cqw 3cqw;
    margin: auto;
    height: 100%;
} */
