:root {
    --hu: calc(var(--height) / 100);
    --hu_1: calc(var(--hu) * 1);
    --hu_2: calc(var(--hu) * 2);
    --hu_3: calc(var(--hu) * 3);
    --hu_4: calc(var(--hu) * 4);
    --hu_5: calc(var(--hu) * 5);
    --hu_6: calc(var(--hu) * 6);
    --hu_7: calc(var(--hu) * 7);
    --hu_8: calc(var(--hu) * 8);
    --hu_9: calc(var(--hu) * 9);
    --hu_10: calc(var(--hu) * 10);
    --hu_11: calc(var(--hu) * 11);
    --hu_12: calc(var(--hu) * 12);
    --hu_13: calc(var(--hu) * 13);
    --hu_14: calc(var(--hu) * 14);
    --hu_15: calc(var(--hu) * 15);
    --hu_16: calc(var(--hu) * 16);
    --hu_17: calc(var(--hu) * 17);
    --hu_18: calc(var(--hu) * 18);
    --hu_19: calc(var(--hu) * 19);
    --hu_20: calc(var(--hu) * 20);
    --hu_21: calc(var(--hu) * 21);
    --hu_22: calc(var(--hu) * 22);
    --hu_23: calc(var(--hu) * 23);
    --hu_24: calc(var(--hu) * 24);
    --hu_25: calc(var(--hu) * 25);
    --hu_26: calc(var(--hu) * 26);
    --hu_27: calc(var(--hu) * 27);
    --hu_28: calc(var(--hu) * 28);
    --hu_29: calc(var(--hu) * 29);
    --hu_30: calc(var(--hu) * 30);
    --hu_31: calc(var(--hu) * 31);
    --hu_32: calc(var(--hu) * 32);
    --hu_33: calc(var(--hu) * 33);
    --hu_34: calc(var(--hu) * 34);
    --hu_35: calc(var(--hu) * 35);
    --hu_36: calc(var(--hu) * 36);
    --hu_37: calc(var(--hu) * 37);
    --hu_38: calc(var(--hu) * 38);
    --hu_39: calc(var(--hu) * 39);
    --hu_40: calc(var(--hu) * 40);
    --hu_41: calc(var(--hu) * 41);
    --hu_42: calc(var(--hu) * 42);
    --hu_43: calc(var(--hu) * 43);
    --hu_44: calc(var(--hu) * 44);
    --hu_45: calc(var(--hu) * 45);
    --hu_46: calc(var(--hu) * 46);
    --hu_47: calc(var(--hu) * 47);
    --hu_48: calc(var(--hu) * 48);
    --hu_49: calc(var(--hu) * 49);
    --hu_50: calc(var(--hu) * 50);
    --hu_51: calc(var(--hu) * 51);
    --hu_52: calc(var(--hu) * 52);
    --hu_53: calc(var(--hu) * 53);
    --hu_54: calc(var(--hu) * 54);
    --hu_55: calc(var(--hu) * 55);
    --hu_56: calc(var(--hu) * 56);
    --hu_57: calc(var(--hu) * 57);
    --hu_58: calc(var(--hu) * 58);
    --hu_59: calc(var(--hu) * 59);
    --hu_60: calc(var(--hu) * 60);
    --hu_61: calc(var(--hu) * 61);
    --hu_62: calc(var(--hu) * 62);
    --hu_63: calc(var(--hu) * 63);
    --hu_64: calc(var(--hu) * 64);
    --hu_65: calc(var(--hu) * 65);
    --hu_66: calc(var(--hu) * 66);
    --hu_67: calc(var(--hu) * 67);
    --hu_68: calc(var(--hu) * 68);
    --hu_69: calc(var(--hu) * 69);
    --hu_70: calc(var(--hu) * 70);
    --hu_71: calc(var(--hu) * 71);
    --hu_72: calc(var(--hu) * 72);
    --hu_73: calc(var(--hu) * 73);
    --hu_74: calc(var(--hu) * 74);
    --hu_75: calc(var(--hu) * 75);
    --hu_76: calc(var(--hu) * 76);
    --hu_77: calc(var(--hu) * 77);
    --hu_78: calc(var(--hu) * 78);
    --hu_79: calc(var(--hu) * 79);
    --hu_80: calc(var(--hu) * 80);
    --hu_81: calc(var(--hu) * 81);
    --hu_82: calc(var(--hu) * 82);
    --hu_83: calc(var(--hu) * 83);
    --hu_84: calc(var(--hu) * 84);
    --hu_85: calc(var(--hu) * 85);
    --hu_86: calc(var(--hu) * 86);
    --hu_87: calc(var(--hu) * 87);
    --hu_88: calc(var(--hu) * 88);
    --hu_89: calc(var(--hu) * 89);
    --hu_90: calc(var(--hu) * 90);
    --hu_91: calc(var(--hu) * 91);
    --hu_92: calc(var(--hu) * 92);
    --hu_93: calc(var(--hu) * 93);
    --hu_94: calc(var(--hu) * 94);
    --hu_95: calc(var(--hu) * 95);
    --hu_96: calc(var(--hu) * 96);
    --hu_97: calc(var(--hu) * 97);
    --hu_98: calc(var(--hu) * 98);
    --hu_99: calc(var(--hu) * 99);
    --hu_100: calc(var(--hu) * 100);
}
