:root {
    --wu: calc(var(--width) / 100);
    --wu_1: calc(var(--wu) * 1);
    --wu_2: calc(var(--wu) * 2);
    --wu_3: calc(var(--wu) * 3);
    --wu_4: calc(var(--wu) * 4);
    --wu_5: calc(var(--wu) * 5);
    --wu_6: calc(var(--wu) * 6);
    --wu_7: calc(var(--wu) * 7);
    --wu_8: calc(var(--wu) * 8);
    --wu_9: calc(var(--wu) * 9);
    --wu_10: calc(var(--wu) * 10);
    --wu_11: calc(var(--wu) * 11);
    --wu_12: calc(var(--wu) * 12);
    --wu_13: calc(var(--wu) * 13);
    --wu_14: calc(var(--wu) * 14);
    --wu_15: calc(var(--wu) * 15);
    --wu_16: calc(var(--wu) * 16);
    --wu_17: calc(var(--wu) * 17);
    --wu_18: calc(var(--wu) * 18);
    --wu_19: calc(var(--wu) * 19);
    --wu_20: calc(var(--wu) * 20);
    --wu_21: calc(var(--wu) * 21);
    --wu_22: calc(var(--wu) * 22);
    --wu_23: calc(var(--wu) * 23);
    --wu_24: calc(var(--wu) * 24);
    --wu_25: calc(var(--wu) * 25);
    --wu_26: calc(var(--wu) * 26);
    --wu_27: calc(var(--wu) * 27);
    --wu_28: calc(var(--wu) * 28);
    --wu_29: calc(var(--wu) * 29);
    --wu_30: calc(var(--wu) * 30);
    --wu_31: calc(var(--wu) * 31);
    --wu_32: calc(var(--wu) * 32);
    --wu_33: calc(var(--wu) * 33);
    --wu_34: calc(var(--wu) * 34);
    --wu_35: calc(var(--wu) * 35);
    --wu_36: calc(var(--wu) * 36);
    --wu_37: calc(var(--wu) * 37);
    --wu_38: calc(var(--wu) * 38);
    --wu_39: calc(var(--wu) * 39);
    --wu_40: calc(var(--wu) * 40);
    --wu_41: calc(var(--wu) * 41);
    --wu_42: calc(var(--wu) * 42);
    --wu_43: calc(var(--wu) * 43);
    --wu_44: calc(var(--wu) * 44);
    --wu_45: calc(var(--wu) * 45);
    --wu_46: calc(var(--wu) * 46);
    --wu_47: calc(var(--wu) * 47);
    --wu_48: calc(var(--wu) * 48);
    --wu_49: calc(var(--wu) * 49);
    --wu_50: calc(var(--wu) * 50);
    --wu_51: calc(var(--wu) * 51);
    --wu_52: calc(var(--wu) * 52);
    --wu_53: calc(var(--wu) * 53);
    --wu_54: calc(var(--wu) * 54);
    --wu_55: calc(var(--wu) * 55);
    --wu_56: calc(var(--wu) * 56);
    --wu_57: calc(var(--wu) * 57);
    --wu_58: calc(var(--wu) * 58);
    --wu_59: calc(var(--wu) * 59);
    --wu_60: calc(var(--wu) * 60);
    --wu_61: calc(var(--wu) * 61);
    --wu_62: calc(var(--wu) * 62);
    --wu_63: calc(var(--wu) * 63);
    --wu_64: calc(var(--wu) * 64);
    --wu_65: calc(var(--wu) * 65);
    --wu_66: calc(var(--wu) * 66);
    --wu_67: calc(var(--wu) * 67);
    --wu_68: calc(var(--wu) * 68);
    --wu_69: calc(var(--wu) * 69);
    --wu_70: calc(var(--wu) * 70);
    --wu_71: calc(var(--wu) * 71);
    --wu_72: calc(var(--wu) * 72);
    --wu_73: calc(var(--wu) * 73);
    --wu_74: calc(var(--wu) * 74);
    --wu_75: calc(var(--wu) * 75);
    --wu_76: calc(var(--wu) * 76);
    --wu_77: calc(var(--wu) * 77);
    --wu_78: calc(var(--wu) * 78);
    --wu_79: calc(var(--wu) * 79);
    --wu_80: calc(var(--wu) * 80);
    --wu_81: calc(var(--wu) * 81);
    --wu_82: calc(var(--wu) * 82);
    --wu_83: calc(var(--wu) * 83);
    --wu_84: calc(var(--wu) * 84);
    --wu_85: calc(var(--wu) * 85);
    --wu_86: calc(var(--wu) * 86);
    --wu_87: calc(var(--wu) * 87);
    --wu_88: calc(var(--wu) * 88);
    --wu_89: calc(var(--wu) * 89);
    --wu_90: calc(var(--wu) * 90);
    --wu_91: calc(var(--wu) * 91);
    --wu_92: calc(var(--wu) * 92);
    --wu_93: calc(var(--wu) * 93);
    --wu_94: calc(var(--wu) * 94);
    --wu_95: calc(var(--wu) * 95);
    --wu_96: calc(var(--wu) * 96);
    --wu_97: calc(var(--wu) * 97);
    --wu_98: calc(var(--wu) * 98);
    --wu_99: calc(var(--wu) * 99);
    --wu_100: calc(var(--wu) * 100);
}
