html {
    font-size: calc(var(--width) / 200);
}

body {
    background-color: #000000;
    overflow: hidden;
    text-align: center;
}

main {
    background-color: #000000;
    border-color: #000000;
    border-style: solid;
    width: var(--width);
    height: var(--height);
    margin-left: var(--main_center);
}

h1 {
    color: white;
    font-size: 22rem;
    font-weight: normal;
    margin-top: var(--hu_2);
}

h2 {
    color: #00ffff;
    font-size: 9rem;
    font-weight: normal;
    margin-top: var(--hu_2);
    margin-bottom: var(--hu_3);
}

section.loadingArea {
    height: var(--hu_16);
}

img {
    box-shadow: 0 0 var(--wu_6) var(--wu_3) #0000ff89;
    display: block;
    margin: 0 auto;
    height: var(--hu_16);
}

.hidden {
    visibility: hidden;
}

section.loadingArea.hidden,
section.imageArea.hidden {
    display: none;
}

button {
    all: unset;
    appearance: none;
    border-style: solid;
    display: block;
    font-size: 8rem;
    font-weight: normal;
    width: var(--wu_62);
    height: var(--hu_6);
    margin: 0 auto;
    margin-top: var(--hu_3);
    padding: 0 2%;
}

button.normal {
    background-color: #444477;
    border-color: #444499;
    color: #ffffff;
}

button.correct {
    background-color: #00ff0022;
    border-color: #009900;
    color: #00ff00;
}

button.dimmed {
    background-color: #44447744;
    border-color: #44447722;
    color: #ffffff66;
}

button.wrong {
    background-color: #ff000044;
    border-color: #990000;
    color: #ff0000;
}
