/*********************************************/
/* main element is used as the app container */
/*********************************************/
main {
    background-color: #000000;
    border-color: #000000;
    border-style: solid;
    width: var(--width);
    height: var(--height);
    margin-left: var(--main_center);
}

/**********************/
/* heading text rules */
/**********************/
h1 {
    color: white;
    font-family: "Garamond", serif;
    font-size: 21rem;
    font-weight: normal;
    margin-top: var(--hu_6);
}
h2 {
    color: #00ffff;
    font-family: "Tahoma", sans-serif;
    font-size: 9rem;
    font-weight: normal;
    margin-top: var(--hu_6);
    margin-bottom: var(--hu_3);
}

/********************************************************************/
/* The loading spinner and the question image occupy the same space */
/********************************************************************/
section.image,
section.loading {
    background-color: #00990000;
    height: var(--hu_52);
    display: flex;
    justify-content: center;
    margin-top: var(--hu_8);
    margin-bottom: var(--hu_12);
}
img {
    box-shadow: 0 0 16rem 3rem #a5a5c8cc;
    display: block;
    margin: auto;
    max-height: 90%;
    max-width: 90%;
}

/************************/
/* "guess" button rules */
/************************/
button {
    all: unset;
    appearance: none;
    border-style: solid;
    display: block;
    font-family: "Tahoma", sans-serif;
    font-size: 9rem;
    font-weight: normal;
    width: 116rem;
    height: var(--hu_12);
    margin: 0 auto;
    margin-top: var(--hu_5);
    padding: 1rem;
}
button.normal {
    background-color: #444477;
    border-color: #444499;
    color: #ffffff;
}
button.correct {
    background-color: #00ff0022;
    border-color: #009900;
    color: #00ff00;
}
button.dimmed {
    background-color: #44447744;
    border-color: #44447722;
    color: #ffffff66;
}
button.wrong {
    background-color: #ff000044;
    border-color: #990000;
    color: #ff0000;
}

/*****************************/
/* rules for hiding elements */
/*****************************/
.hidden {
    visibility: hidden;
}
section.image.hidden,
section.loading.hidden {
    display: none;
}
