.spinner,
.spinner:after {
    box-sizing: border-box;
    color: #a5a5c8cc;
}
.spinner {
    display: inline-block;
    width: 48rem;
    height: 48rem;
}
.spinner:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    border-width: 20rem;
    margin: 4rem;
    margin-top: 24rem;
    box-sizing: border-box;
    border-style: solid;
    border-color: currentColor transparent currentColor transparent;
    animation: spinner 1.2s infinite;
}
@keyframes spinner {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}