.spinner,
.spinner:after {
    box-sizing: border-box;
    color: #a5a5c8cc;
}
.spinner {
    display: inline-block;
    width: 48rem;
    height: 48rem;
}
.spinner:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    border-width: 20rem;
    margin: 4rem;
    margin-top: 16rem;
    box-sizing: border-box;
    border-style: solid;
    border-color: currentColor transparent currentColor transparent;

    animation-name: startSpin, continueSpin;
    animation-duration: 2000ms, 10000ms;
    animation-delay: 0ms, 2000ms; /* add this */
    animation-timing-function: ease-in, linear;
    animation-iteration-count: 1, infinite;
}

@keyframes startSpin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(3600deg);
    }
}

@keyframes continueSpin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(3600deg);
    }
}
