section#image {
    height: 20cqh;
    margin-top: -20cqh;
}
section#image > img {
    display: block;
    margin: 0 auto;
    height: 20cqh;
}
/* section.image > img {
    box-shadow: 0 0 16cqw 3cqw;
    margin: auto;
    height: 100%;
} */
