/* each section overlays <main> */
section {
    position: absolute;
    top: 0;
    left: 0;
 
    width: 100cqw;
    height: 100cqh;

    align-content: center;
    text-align: center;
 
    opacity: 0.00;
    overflow: hidden;
}

/* sections are initially transparent, their inner divs are opaque */
section > div {
    opacity: 1;
}

:root {
    /* section heights */
    --SECTION_TitleHeading: 15cqh;
    --SECTION_LoadingSpinner: 20cqh;
    
    /* section font sizes */
    --TEXT_TitleHeading: 10cqw;
}