/************************/
/* DARK THEME           */
/************************/
:root {
    --THEME_actionLink               : "#ffff00ff";
    --THEME_bodyBackground           : "#000000ff";
    --THEME_bonus                    : "#00ff00ff";
    --THEME_buttonCorrectBackground  : "#007700ff";
    --THEME_buttonCorrectText        : "#ffffffff";
    --THEME_buttonDimmedBackground   : "#44447755";
    --THEME_buttonDimmedText         : "#ffffff55";
    --THEME_buttonDisabledBackground : "#44447755";
    --THEME_buttonDisabledText       : "#ffffff55";
    --THEME_buttonNormalBackground   : "#444477ff";
    --THEME_buttonNormalText         : "#ffffffff";
    --THEME_buttonRevealBackground   : "#550055ff";
    --THEME_buttonRevealText         : "#ffff00ff";
    --THEME_buttonWrongBackground    : "#ff0000ff";
    --THEME_buttonWrongText          : "#ffffffff";
    --THEME_iconBackground           : "#555555ee";
    --THEME_iconForeground           : "#ffffffff";
    --THEME_imageShadow              : "#a5a5c877";
    --THEME_loadingSpinner           : "#1c4c5bff";
    --THEME_mainBackground           : "#000022ff";
    --THEME_menuBackground           : "#444444ff";
    --THEME_noBonus                  : "#ff0000ff";
    --THEME_progress                 : "#ffffffbb";
    --THEME_questionHeading          : "#00ffffff";
    --THEME_scoreLabel               : "#00ffffff";
    --THEME_scoreValue               : "#ffff00ff";
    --THEME_titleHeading             : "#ffffffff";
}
