/************************/
/* DARK THEME           */
/************************/
:root {
    /**/
    --tv-BODY_backgroundColor                 : #000000ff;
    --tv-MAIN_backgroundColor                 : #000022ff;
    
    /**/
    --tv-GuessPoints_CORRECT_color            : #00ff00ff;
    --tv-GuessPoints_WRONG_color              : #ff0000ff;

    /**/
    --tv-GuessButton_CORRECT_backgroundColor  : #007700dd;
    --tv-GuessButton_CORRECT_borderColor      : #007700ff;
    --tv-GuessButton_CORRECT_color            : #ffffffff;

    /**/
    --tv-GuessButton_DIMMED_backgroundColor   : #44447777;
    --tv-GuessButton_DIMMED_borderColor       : #44447799;
    --tv-GuessButton_DIMMED_color             : #ffffff55;

    /**/
    --tv-GuessButton_NORMAL_backgroundColor   : #444477dd;
    --tv-GuessButton_NORMAL_borderColor       : #444477ff;
    --tv-GuessButton_NORMAL_color             : #ffffffff;

    /**/
    --tv-GuessButton_REVEAL_backgroundColor   : #550055dd;
    --tv-GuessButton_REVEAL_borderColor       : #550055ff;
    --tv-GuessButton_REVEAL_color             : #ffff00ff;

    /**/
    --tv-GuessButton_WRONG_backgroundColor    : #ff0000dd;
    --tv-GuessButton_WRONG_borderColor        : #ff0000ff;
    --tv-GuessButton_WRONG_color              : #ffffffff;

    /**/
    --tv-LoadingSpinner_fill                  : #1c4c5bff;
    --tv-LoadingSpinner_color                 : #1c4c5bff;
    
    /**/
    --tv-QuestionImage_shadow                 : #a5a5c877;
    --tv-QuestionText_color                   : #00ffffff;
    
    /**/
    --tv-QuestionTimer_NORMAL_color           : #ffffffff;
    --tv-QuestionTimer_GOOD_color             : #00ff00ff;
    --tv-QuestionTimer_BAD_color              : #ff0000ff;
    
    /**/
    --tv-QuizProgress_color                   : #00ffffff;
    --tv-QuizTitle_color                      : #ffffffff;

    /**/
    --tv-ScoreInfo_TEXT_color                 : #00ffffff;
    --tv-ScoreInfo_VALUE_color                : #ffffffff;
}
